body {
    background-image: url(fondo-abstracto-textura_1258-30461.avif);
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
}
